.o_solar_theme .bg-beta {
  background-color: #f2d13e;
  color: white;
}
.o_solar_theme .bg-beta .o_mail_snippet_general h1,
.o_solar_theme .bg-beta .o_mail_snippet_general h2,
.o_solar_theme .bg-beta .o_mail_snippet_general h3,
.o_solar_theme .bg-beta .o_mail_snippet_general h4,
.o_solar_theme .bg-beta .o_mail_snippet_general h5,
.o_solar_theme .bg-beta .o_mail_snippet_general h6,
.o_solar_theme .bg-beta .o_mail_snippet_general .h1,
.o_solar_theme .bg-beta .o_mail_snippet_general .h2,
.o_solar_theme .bg-beta .o_mail_snippet_general .h3,
.o_solar_theme .bg-beta .o_mail_snippet_general .h4,
.o_solar_theme .bg-beta .o_mail_snippet_general .h5,
.o_solar_theme .bg-beta .o_mail_snippet_general .h6 {
  color: white;
}
.o_solar_theme .bg-beta .o_mail_snippet_general a,
.o_solar_theme .bg-beta .o_mail_snippet_general .btn.btn-link {
  color: white;
}
.o_solar_theme .text-beta {
  color: #f2d13e;
}
.o_solar_theme .bg-delta {
  background-color: #262b36;
  color: white;
}
.o_solar_theme .bg-delta .o_mail_snippet_general h1,
.o_solar_theme .bg-delta .o_mail_snippet_general h2,
.o_solar_theme .bg-delta .o_mail_snippet_general h3,
.o_solar_theme .bg-delta .o_mail_snippet_general h4,
.o_solar_theme .bg-delta .o_mail_snippet_general h5,
.o_solar_theme .bg-delta .o_mail_snippet_general h6,
.o_solar_theme .bg-delta .o_mail_snippet_general .h1,
.o_solar_theme .bg-delta .o_mail_snippet_general .h2,
.o_solar_theme .bg-delta .o_mail_snippet_general .h3,
.o_solar_theme .bg-delta .o_mail_snippet_general .h4,
.o_solar_theme .bg-delta .o_mail_snippet_general .h5,
.o_solar_theme .bg-delta .o_mail_snippet_general .h6 {
  color: white;
}
.o_solar_theme .bg-delta .o_mail_snippet_general a,
.o_solar_theme .bg-delta .o_mail_snippet_general .btn.btn-link {
  color: white;
}
.o_solar_theme .bg-delta .btn.btn-primary {
  color: #f2d13e;
  background-color: white;
  font-weight: bold;
}
.o_solar_theme.o_layout {
  background-color: #EAECED;
}
.o_solar_theme.o_layout > .o_mail_wrapper {
  background: rgba(0, 0, 0, 0);
  background: transparent;
  border: none;
}
.o_solar_theme.o_layout > .o_mail_wrapper > * {
  margin-bottom: 16px;
}
.o_solar_theme .o_mail_snippet_general .btn.btn-primary {
  background-color: #f2d13e;
  color: white;
}
.o_solar_theme .o_mail_snippet_general a,
.o_solar_theme .o_mail_snippet_general .btn.btn-link {
  color: #f0cb26;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]) {
  background-color: white;
  color: black;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo {
  background-color: #f2d13e;
  color: white;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .h6 {
  color: white;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general a,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general a,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general a,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general .btn.btn-link,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general .btn.btn-link,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general .btn.btn-link {
  color: white;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_social .o_mail_snippet_general,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_text_social .o_mail_snippet_general,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_header_logo .o_mail_snippet_general {
  background: rgba(0, 0, 0, 0);
  background: transparent;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_two_cols,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_three_cols {
  background: rgba(0, 0, 0, 0);
  background: transparent;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_two_cols .o_mail_snippet_general,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_three_cols .o_mail_snippet_general {
  background: rgba(0, 0, 0, 0);
  background: transparent;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social {
  background-color: #f2d13e;
  color: white;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general h6,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h1,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h2,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h3,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h4,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h5,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .h6 {
  color: white;
}
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general a,
.o_solar_theme [class^="o_mail_block"]:not([class*="bg-"]).o_mail_block_footer_social .o_mail_snippet_general .btn.btn-link {
  color: white;
}
.o_solar_theme .o_mail_block_header_social,
.o_solar_theme .o_mail_block_header_text_social,
.o_solar_theme .o_mail_block_header_logo {
  margin-bottom: 0;
}
.o_solar_theme .o_mail_block_header_social .o_mail_h_padding,
.o_solar_theme .o_mail_block_header_text_social .o_mail_h_padding,
.o_solar_theme .o_mail_block_header_logo .o_mail_h_padding {
  padding: 5px 20px;
}
.o_solar_theme .o_mail_block_banner {
  border-bottom: 5px solid #f2d13e;
}
.o_solar_theme .o_mail_block_event {
  margin-left: 0;
  margin-right: 0;
}
.o_solar_theme .o_mail_block_footer_separator {
  margin-left: 0;
  margin-right: 0;
}
.o_solar_theme .o_mail_block_image .o_mail_h_padding {
  padding: 0;
}
.o_solar_theme .o_mail_block_image .o_mail_h_padding .o_mail_col_mv {
  padding-left: 20px;
  padding-right: 20px;
}
.o_solar_theme .o_mail_block_image .o_mail_h_padding > img {
  padding: 0;
  margin-bottom: 15px;
}
.o_solar_theme .o_mail_block_footer_separator .o_mail_snippet_general {
  background: rgba(0, 0, 0, 0);
  background: transparent;
}
.o_solar_theme .o_mail_block_footer_separator .o_mail_snippet_general .separator {
  height: 3px;
  background-color: #cfd3d5;
  border-bottom: 2px solid #f7f7f7;
}
.o_solar_theme .o_mail_block_two_cols table,
.o_solar_theme .o_mail_block_three_cols table {
  width: 110%;
  max-width: 620px;
  margin: auto -10px;
}
.o_solar_theme .o_mail_block_two_cols .o_mail_col_container,
.o_solar_theme .o_mail_block_three_cols .o_mail_col_container {
  padding: 0 0 20px;
  margin: 0 10px;
  border-top: 1px solid #e6e6e6;
  border-bottom: 1px solid #dce0e1;
  background-color: white;
}
.o_solar_theme .o_mail_block_two_cols .o_mail_col_container > *,
.o_solar_theme .o_mail_block_three_cols .o_mail_col_container > * {
  padding: 0 20px;
}
.o_solar_theme .o_mail_block_two_cols .o_mail_col_container img,
.o_solar_theme .o_mail_block_three_cols .o_mail_col_container img {
  padding: 0!important;
}
.o_solar_theme .o_mail_block_footer_tag_line table.o_mail_h_padding {
  padding-left: 0;
  padding-right: 0;
}
.o_solar_theme .o_mail_block_image_text .o_mail_img_container {
  padding: 0;
}
.o_solar_theme .o_mail_block_text_image .o_mail_img_container {
  padding: 0;
}
.o_solar_theme .o_mail_block_footer_social .o_mail_table_styles {
  border-top: none;
  padding: 20px;
}
.o_solar_theme .o_mail_block_footer_social .o_mail_footer_social {
  border: none;
}
.o_solar_theme .o_mail_block_footer_social .o_mail_footer_copy {
  font-weight: bold;
  font-size: 9px;
}
.o_solar_theme .o_mail_block_footer_social.o_mail_footer_social_left .o_mail_footer_description {
  padding-left: 0;
}
.o_solar_theme .o_mail_block_footer_social.o_mail_footer_social_left .o_mail_footer_social {
  padding-right: 0;
}
